<%
	image_prefix = "http://www.yavlena.com"
%>

<table style="font-family:Verdana, Geneva, sans-serif; font-size:85%; background-color:#EEE; width:100%;" cellspacing="0" cellpadding="20" border="0">
<tr><td align="center" valign="top">
<table style="width:710px; background-color:#FFF; border:1px solid #CCC; color:#333; font-family:Verdana, Geneva, sans-serif;" border="0" cellspacing="0" cellpadding="15">
<tr><td valign="top" style="color:#333 !important">

<p style="font-size:13px">Здравейте,<br />
<br />

Моля последвайте тази връзка, за да завършите регистрацията си за абонамент за нашия бюлетин:
<br />

<a href="http://www.yavlena.com/bulletin_subscription_activation?email=<%=@sent_to%>&code=<%=@code%>">http://dev.yavlena.com/bulletin_subscription_activation?email=<%=@sent_to%>&code=<%=@code%></a>
<br />
<br />

Благодарим,
<br /><br />


Явлена недвижими имоти<br />

http://www.yavlena.com
</td></tr>
</table><br />
</td></tr>
</table>

