
<div id="help_container">
  <h1>Help</h1>

	<ul>
		<li>
		  <a href="#sales">Продажби - функции и предназначение</a>
		</li>
		<li>
			<a href="#my_store">Моят обект - функции и предназначение</a>
		</li>
		<li>
			<a href="#stores">Всички обекти - функции и предназначение</a>
		</li>
		<%if has_permissions?("logs", "my_location")%>
		<li>
			<a href="#inventory">Инвентар - функции и предназначение</a>
		</li>
		<li>
			<a href="#logs">Доставки - функции и предназначение</a>
		</li>
		<%end%>
		<%if has_permissions?("products", "statistics")%>
		<li>
			<a href="#statistics">Статистика - функции и предназначение</a>
		</li>
		<%end%>
		<%if has_permissions?("logs", "my_location")%>
		<li>
			<a href="#logs">Логове - функции и предназначение</a>
		</li>
		<%end%>
		<%if has_permissions?("colors", "all")%>
		<li>
			<a href="#colors">Цветове - функции и предназначение</a>
		</li>
		<%end%>
	</ul>

	<article>
		
				
		<a name="sales" ></a>
		<h3>Продажби - функции и предназначение</h3>

		<p>
			Начална страница на системата е таблица, която показва продажбите от началото на работна седмица за съответния обект. Над
			таблицата са изписани общите продажби като бройка и сума за избрания период. Има възможност за филтриране на информацията, която се показва,
			 както от дата до дата, така и по обект.
			 <div class="helpImage">
				<img src="/images/help/Sales.PNG">
			</div>
		</p>
		
		<a name="my_store" ></a>
		<h3>Моят обект - функции и предназначение</h3>
		<p>
			Моят обект показва на потребителя за съответния обект всички налични продукти.
		</p>

		<h4>Списък с продукти от моя обект</h4>
		<p>
			Показва се таблица с всички налични продукти за съответния обект. Първата колона съдържа описание на продукта. Втората
			колона в таблицата показва обекта, към който е съответният потребител. След това са изброени вариациите на продукта.
			От дясно се намират възможностите, които са на разположение за операции с продуктите.
			<div class="helpImage">
				<img src="/images/help/MyLocation.PNG">
			</div>
		</p>

		<%if has_permissions?("items", "edit")%>
		<p>
			Под описанието на обекта в първата колона има възможност за <strong>Редакция на продукт</strong> и <strong>Добавяне стока в склад</strong>
		</p>
	

		<h4>Добавяне стока в склад</h4>
		<p>
			Във формата за добавяне на продукт в склада се показва описание на продукта, наличности за цветове и номера и се попълва форма с
			правилната информация. След което се избира <strong>Добави</strong>, при коректни данни, системата показва съобщение за успешно добавяне на
			продукт в склада и се избира <strong>Затвори</strong>.
		</p>
		<%end%>

		<h4>Продажба на стока</h4>
		<p>
			От менюто <strong>Продажба на стока</strong> се вижда описание на продукта, който е избран. При продажба първоначално е въведена сумата
			за продукта, но е възможно да се въведе и различна от началната цена. Избира се между плащане с карта или в брой, както
			и е възможно, но не и задължително да се остави бележка към всеки продукт, с който се извършва операция. Има опция за
			замяна, необходимо е да се избере отметката, отговаряща за това. При тази операция отново възможността за оставяне на
			бележка е налична. Когато формата е попълнена с правилната информация, избира се <strong>Запази</strong>, за да бъде извършена продажбата.
			Ако не е допусната грешка при попълване на формата, системата показва потвърждение за успешна продажба и се избира <strong>Затвори</strong>.
		</p>

		<h4>Рекламация на стока</h4>
		<p>
			Менюто <strong>Рекламация на стока</strong> е представена форма аналогична на менюто за продажба. Налични са описание на продукта, възможност
			за избор между <strong>Замяна</strong> и <strong>Връщане</strong> и оставяне на бележка. При <strong>Връщане</strong> опция за въвеждане на върнатата
			парична сума е налична.
		</p>

		<%if has_permissions?("items", "deliver")%>
		<h4>Разпределяне на стока</h4>
		<p>
			От това меню съответният продукт се разпределя към кой обект да се достави и колко бройки.
		</p>

		<h4>Редактиране на стока</h4>
		<p>
			Последната налична опция дава възможност да се редактират доставната и продажната цена, както и бройката налични и доставениналичности
			от този продукт.
		</p>

		<h4>Бързо търсене</h4>
		<p>
			Има възможност за <strong>Бързо търсене</strong> в страница, което търси за произволен тест съвпадение в отворената
			в момента страница. <strong>Бързо търсене</strong> също така има и във <strong>Всички обекти</strong>.
		</p>

		<a name="stores" ></a>
		<h3>Всички обекти - функции и предназначение</h3>
		<p>
			Всички обекти показва на потребителя за съответния обект всички налични продукти.
		</p>

		<p>
			Под главното меню има възможност за филтриране на обектите, в които желаете да видите всички наличности.
		</p>

		<a name="inventory" ></a>
		<h3>Инвентар - функции и предназначение</h3>

		<h4>Нов продукт</h4>
		<p>
			<strong>Инвентар</strong> е менюто, в което има опция за създаване на нов продукт. Под главното меню от дясно има зелена икона с плюс
			<strong>Добави на нов продукт</strong>. 
			  <span class="helpImage 123">
			    <img src="/images/help/addNewProduct.PNG" />
			  </span>
			При избиране на тази опция се показва форма, която се попълва с подходяща информация. 
			Когато формата е попълнена с правилната информация, избира се <strong>Запази</strong>, за да бъде запазен новият продукт в системата.
			<div class="helpImage">
				<img src="/images/help/AddProductCorrecrt.PNG">
			</div>
			В случай, че се направи опит за запазване на продукт без да са попълнени всички налични полето, се генерира следното съобщение:
			<div class="helpImage">
				<img src="/images/help/AddProductError.PNG">
			</div>
		</p>
		
		<h4>Редакция на продукт</h4>
		<p>
			Тази опция позволява пълното редактиране на информацията за съответния продукт - име, статус (в зависимост от това дали този продукт е
			наличен и се предлага, се избира статус активен или неактивен), код на продукта, сезон, тип продукт и бележки, както и смяна на снимка.
			<strong>Редакция на продукт</strong> е налична във <strong>Моят обект</strong> и <strong>Всички обекти</strong>.
		</p>

		<h4>Филтриране и Търсене по код</h4>
		<p>
			Освен възможността за добавяне на нов продукт, в инвентар може да се филтрират всички продукти налични във всеки един обект по
			<strong>Тип продукт</strong> - дамски обувки, мъжки обувки или чанти. Както и да се търсят продукти с техния код
		</p>
		<p>
			Останалите опции, които са налични на тази страница, са еднакви с опциите в <strong>Моят обект</strong> и <strong>Всички обекти</strong>
		</p>
		<%end%>
		
		<%if has_permissions?("logs", "my_location")%>
		<a name="logs" ></a>
		<h3>Доставки - функции и предназначение</h3>

		<p>
			Менюто <strong>Доставки</strong> представлява таблица, която съдържа информация с всички доставки, извършени от всеки един потребител на системата.
		</p>
		<%end%>
		
		<%if has_permissions?("products", "statistics")%>
		<a name="statistics" ></a>
		<h3>Статистика - функции и предназначение</h3>

		<p>
			Менюто <strong>Статистика</strong> представлява таблица, която съдържа информация,  за всеки наличен продукт за всеки един от обектите, 
			в които се извършват действия със съответния продукт. Има опция за филтриране от дата до дата, както и по тип продукт. 
			Също така и търсене по код на продукт е възможно.
		</p>
		<%end%>
		
		<%if has_permissions?("logs", "my_location")%>
		<a name="logs" ></a>
		<h3>Логове - функции и предназначение</h3>

		<p>
			Менюто <strong>Логове</strong> е представено под формата на таблица, която съдържа информация с всички действия, извършени през системата - добавяне, 
			редактиране на продукт, продажба, замяна, връщане и др. Следната информация е включена в таблицата - Дата, на която е изършено съответното 
			действие, кой е потребителят, извършил дейстрието, обектът, към който е начислен съответния потребител към настоящия момент, както и IP адрес, 
			съответното извършено действие, описание на продукта, който се използва, количество и сума(когато такива са налични), когато има трансфериране
			на продукт, между кои два обекта се е случил траснфера, и при налична - бележка. 
		</p>
		<%end%>
		
		<%if has_permissions?("colors", "all")%>
		<a name="colors" ></a>
		<h3>Цветове - функции и предназначение</h3>

		<p>
			Менюто <strong>Цветове</strong> е аналогично на менюто <strong>Инвентар</strong>. Показани са всички въведени до този момент цветове в системата, както и 
			допълнителните цветове към основните, където има такива. В края на всеки ред се намира икона, която позволява редакция на цвета 
			<strong>Редакция</strong>. При избирането на тази възможност, се визуализира форма, в която може да се смени името на цвета и кода му.
			Основният и допълнителният (ако има такъв) цвят също могат да бъдат променени, като се кликне на реда за промяна се визуализира
			цветова палитра, от която лесно и бързо се избира нужният цвят. Когато промените са готови се избира бутонът <strong>Запази</strong>.   
		</p>
		
		<h4>Нов цвят</h4>
		<p>
			Добавяне на нов цвят се избира от иконата, която служа и за <strong>Добави на нов продукт</strong> в <strong>Инвентар</strong>, а формата, която служи за 
			добавяне на нов цвят се попълва аналогично както и при <strong>Редакция</strong> на цвят.
		</p>
		<%end%>
		
	</article>
</div>

