<% form_for([@color])  do |f| %>
	<h2><%= link_to image_tag("/images/icon-back.png", :height => '32', :width => '32', :alt => "Връщане назад", :title => "Връщане назад", :border =>'0'), url_for(:action => 'index') %>  Добавяне на <strong>Цвят</strong></h2>
  <%= render :partial => '/errors', :locals => { :f => f}%>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => '/submit_form_buttons', :locals => { :f => f, :button_title => "Създай", :cancel_path => colors_path}%>
<% end %>