
<form>
  <table border="0" cellspacing="0" cellpadding="2" style="width: 100%" class="modalInspector" id="add_items_form_table">
    <thead>
      <%= render :partial => "/products/product_details_header" %>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
        </td>
      </tr>
    </tbody>
  </table>
</form>
