<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>LOGIN</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "width = device-width, initial-scale = 0.6">
<script type="text/javascript" src="/javascripts/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/javascripts/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.client.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<link href="/stylesheets/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body class="loginScreen">
    <div id="container">     
      <div class="contentWrapper">
        <div id="message"></div>
        <div id="content">
	         	<%= yield  %>
        </div>
      </div>
    </div>
</body>
</html>